body {
  background: url("wallpaper.webp") no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
}
*:not(h1) {box-sizing: border-box; font-family: "open sans"; font-size: 14px; transition: cubic-bezier(.17,.67,0,.83) 0.3s; transition-property: font-size;}

a { text-decoration: none; color: #bb7ff0; }
a:hover { text-decoration: underline; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,0.5); border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background-color: rgba(0,0,0,0.5); }

.sysbar {
  background-color: rgb(40,40,40);
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-radius: 0px 0px 5px 5px;
  cursor: default;
}

.dock {
  left: 25%;
  width: 50%;
  text-align: center;
  background-color: rgb(40,40,40);
  color: white;
  border-radius: 5px 5px 0px 0px;
  cursor: default;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.dockIcon {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  transition: cubic-bezier(.17,.67,0,.83) 0.3s;
}
.dockIcon:hover {
  filter: brightness(70%);
  padding-left: 20px;
  padding-right: 20px;
}

.sysbarButton, .sysbarObject {
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
.sysbarButton:hover {
  background-color: rgba(3,169,255,0.5);
}

.contextMenu {
  position: relative;
  background-color: rgb(40,40,40);
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.6);
  transition: cubic-bezier(.17,.67,0,.83) 0.1s;
  cursor: default;
  z-index: 255;
}
.contextMenuSelection {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.contextMenuSelection img { width: 20px; height: 20px; }
.notAllowed {
  color: silver;
  cursor: not-allowed;
}
.contextMenuSelection:hover:not(.notAllowed) {
  background-color: rgba(3,169,255,0.5);
}
.contextMenuSelection:active:not(.notAllowed) {
  background-color: #004b8a;
}
.contextMenuSeparator {
  border-top: 1px solid rgba(255,255,255,0.3);
  height: 1px;
  margin: 5px 0 5px 0;
}

.window {
  position: fixed;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.6);
  z-index: 1;
  transition: all 0.5s, top cubic-bezier(.17,.67,0,.83) 0.1s, opacity 0.2s, transform 0.2s;
  border-radius: 5px;
}
.windowTitleBar {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px 5px 0px 0px;
  padding: 7px;
  padding-left: 10px;
  color: white;
  cursor: default;
}
.windowBody {
  background-color: rgb(40,40,40);
  color: #ebebeb;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  height: 100%;
  resize: both;
  overflow: auto;
}
.blur {
  color: white;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}
h1 { margin-top: 10px;margin-bottom:10px; }
.windowClose {
  background-color: rgba(255,0,0,0.6);
  color: transparent;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 8px;
  border-radius: 100%;
  text-align: center;
}
.windowClose:hover { background-color: rgba(255,0,0,0.4); }
.windowClose:active { background-color: rgba(100,0,0,0.6); }
.windowMaximize {
  background-color: rgba(0,255,0,0.6);
  color: transparent;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 8px;
  border-radius: 100%;
  text-align: center;
}
.windowMaximize:hover { background-color: rgba(0,255,0,0.4); }
.windowMaximize:active { background-color: rgba(0,100,0,0.6); }

input, button, textarea {
  background-color: rgba(0,0,0,0.3);
  color: #ebebeb;
  border-radius: 5px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  outline: none;
}
button:hover, .checkmark:hover {
  background-color: rgba(0,0,0,0.5);
}
button:active, .checkmark:active {
  background-color: rgba(0,0,0,0.6);
}
button[disabled], input[disabled], textarea[disabled] {
  background: rgba(0,0,0,0.15);
  color: silver;
  cursor: not-allowed;
}
.chboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
}
.chboxContainer input { display: none; }
.chboxContainer input:checked ~ .checkmark { color: white; }
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  padding-left: 5px;
  padding-right: 4px;
  background-color: rgba(0,0,0,0.3);
  color: transparent;
  border-radius: 5px;
}
input[type="range"] { -webkit-appearance: none; height: 3px; }
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: silver;
}
input[type="range"]::-webkit-slider-thumb:hover { background: gray; }

.desktopIcon {
  color: white;
  text-shadow: 0px 0px 5px #000000;
  text-align: center;
  position: fixed;
  top: 30px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}
.desktopIcon img { width: 75px; height: 75px; }
.desktopIcon:hover {
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
}